.history-card {
  gap: 50px;
  margin-bottom: 100px;
  transition: 0.5px all;
  position: relative;
}

.history-card__title h3::before {
  content: "";
  position: absolute;
  width: 0;
  height: 5px;
  left: 0;
  bottom: -10px;
  background-color: var(--color-orange);
  transition: 1s all;
}

.history-card:hover .history-card__title h3::before {
  width: 100%;

}

.history-card:hover .history-card__year {
  box-shadow: 8px 8px 0px 1px #FF8D4D;

}

.history-card__year {
  display: flex;
  gap: 20px;
  color: var(--color-text-primary);
  border: var(--color-border) var(--border-width-main) solid;
  padding: 30px 50px;
  border-radius: var(--border-radius-main);
  background-color: var(--color-white);
  box-shadow: var(--shadow-black);
  position: relative;
  max-width: 360px;
  transition: 0.3s all;
}

.history-card__year h3 {
  font-family: Raleway;
  font-weight: 700;
  font-size: 68px;
  line-height: 130%;
}

.history-card__title h3 {
  font-family: Raleway;
  font-weight: 700;
  font-size: 28px;
  line-height: 130%;
  margin-bottom: 20px;
  color: var(--color-text-primary);
  position: relative;
  width: fit-content;

}

.history-card__description {
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: var(--color-title-text);
}

@media (max-width:1440px) {
  .history-card {
    gap: 40px;
    margin-bottom: 80px;
  }

  .history-card__year {
    font-size: 48px;
    gap: 20px;
    padding: 25px 34px;
    max-width: 259px;
  }

  .history-card__year img {
    width: 60px;
  }

  .history-card__year h3 {
    font-size: 48px;
  }

  .history-card__title h3 {
    font-size: 24px;
    margin-bottom: 16px;
  }

  .history-card__description {
    font-size: 16px;

  }
}

@media (max-width:992px) {
  .history-card {
    flex-direction: column;
    align-items: self-start;
  }

  .history-card__title h3 {
    font-size: 22px;
  }

  .history-card {
    gap: 30px;
    margin-bottom: 50px;
  }

  .history-card__year {
    padding: 20px 24px;
  }

  .history-card__year h3 {
    font-size: 38px;
  }

  .history-card__year img {
    width: 50px;
  }
}
